<div class="invitacion-contenedor">
  <div class="invitacion">
    <div class="encabezado">
      <p class="together">TOGETHER WITH THEIR FAMILIES</p>
      <div class="nombres">
        <h1>Sabat</h1>
        <p class="and">&</p>
        <h1>Crumbie</h1>
      </div>
      <p class="invitan">WE INVITE YOU TO JOIN OUR WEDDING</p>
    </div>

    <div class="fecha">
      <p>MAR | 19 | 2024</p>
      <p>TWO O'CLOCK IN THE AFTERNOON</p>
      <p>REBOSAH HALL, PRINOGURAT</p>
      <p class="reception">Reception to follow</p>
    </div>

    <div class="detalles">
      <h3>Details</h3>
      <div class="seccion">
        <h4>RECEPTION</h4>
        <p>210 DOWNYONG ROAD</p>
        <p>PRINCESURAT, TEMAANGGUNG, 4312</p>
      </div>
      <div class="seccion">
        <h4>THE CHAPEL</h4>
        <p>25 PONDIDI ROAD</p>
        <p>PRINCESURAT, TEMAANGGUNG, 4623</p>
      </div>
      <div class="seccion">
        <h4>THE HOTEL</h4>
        <p>PLEASE PRE BOOK AS THEIR ARE</p>
        <p>LIMITED BOOKS</p>
        <p>THE STAMPED</p>
      </div>
    </div>
  </div>
</div>
